body {
  background-color: white;
  color: black;
  font-family: "Lora", serif;
}

.navbar .logo {
  font-size: 35px;
  font-weight: 400;
}

.navbar .nav-link {
  font-size: 24px;
  font-weight: 400;
  font-family: "Assistant", sans-serif;
  margin-left: 20px;
}

.jumbotron {
  color: white;
  overflow: hidden;
  padding-top: 90px;
  margin-bottom: -10px;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 50px;
}

.jumbotron p {
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  font-size: 25px;
}

.jumbotron .btn-contact {
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.jumbotron .btn-download {
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: white;
}

.jumbotron .btn-download:hover {
  text-decoration: none;
}

.section-about {
  margin-top: 50px;
  padding-top: 50px;
}

.section-about .content-about {
  margin-top: 30px;
}

.section-about .content-about p {
  line-height: 35px;
}

.section-portfolio .section-portfolio-heading {
  margin-top: 50px;
}

.section-portfolio .design-foto {
  margin-top: 30px;
}

.section-portfolio .design-foto .figure-img {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  position: relative;
}

.section-portfolio .design-foto .figure-img:hover a {
  opacity: 1;
}

.section-portfolio .design-foto .figure-img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.section-portfolio .design-foto .muncul {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.design {
  margin-top: 30px;
}

.developer {
  margin-top: 30px;
}

.developer-foto {
  margin-top: 30px;
}

.developer-foto .figure-img {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  position: relative;
}

.developer-foto .figure-img:hover a {
  opacity: 1;
}

.developer-foto .figure-img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.developer-foto .muncul {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.tools-skils {
  margin-top: 50px;
}

.tools-skils .foto-tools {
  margin-top: 30px;
}

.tools-skils .foto-tools img {
  padding: 16px 16px 0;
}

.contact-us {
  margin-top: 50px;
  padding-top: 50px;
}

.contact-us .foto-contact {
  margin-top: 30px;
}

.contact-us .foto-contact img {
  padding: 0 16px 0;
}

footer {
  width: 100%;
  height: 100px;
  color: white;
}

footer p {
  margin-top: 50px;
}

@media (max-width: 991.98px) {
  header {
    background-color: black;
    color: white;
    margin-top: -80px;
    padding: 180px 10% 40px;
  }
  header h1 {
    font-weight: bold;
    font-size: 30px;
  }
  header p {
    font-family: "Assistant", sans-serif;
    font-weight: 200;
    font-size: 18px;
  }
  header .btn-contact {
    font-family: "Assistant", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
  }
  header .btn-download {
    font-family: "Assistant", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: 50px;
    color: white;
    margin-left: 0px;
  }
  header .btn-download:hover {
    text-decoration: none;
  }
  header .foto {
    margin-top: -100px;
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */